DreamSat/DreamSat.cywrk.*
DreamSat/Camera.cydsn/Camera.cyprj.*
DreamSat/Camera.cydsn/codegentemp/
DreamSat/Camera.cydsn/CortexM3/
DreamSat/Camera.cydsn/Generated_Source/
DreamSat/Camera.cydsn/Export/
DreamSat/Camera.cydsn/Camera.cyfit
DreamSat/Camera.cydsn/Camera.cycdx
DreamSat/Camera.cydsn/Camera.rpt
DreamSat/Camera.cydsn/Camera.svd
DreamSat/Camera.cydsn/Camera_timing.html
